
/*
table {
    border-collapse:collapse;
}
*/


.sort-button {
    font-size: 32px;
}

/*
th {
    font-size:18px;
    font-weight: bold;
    color: white;
    background-color: midnightblue;
    width: 100px;
    text-align: left;
    padding: 10px;
    white-space: nowrap;
}
*/
